<div class="container bg-blue">
    <h2>List of Items</h2>
    <div class="row card-group">
        <div class="col-4"  *ngFor="let list of shoppingList">
          <div class="card text-center mb-4">
            <div class="card-block">
                <img class="card-img-top" [src]="list.image" alt="Card image" style="width:50%">
                <h4 class="card-title">{{list.name}}</h4>
                <p class="card-text">
                    Description: {{list.description}}
                </p>
                <p class="card-text">
                    Price: {{list.price}}
                </p>
            </div>
            <div class="card-footer">
                <button class="btn btn-outline-secondary my-2 my-sm-0" (click)="addToCart(list)">Add to cart</button>
            </div>
        </div>
        </div>
    </div>
  </div>